
.book-container{
  background-color: #FFFFFF;
  
}
.nav-color{
  background-color: #2F2A6B;
  font-weight: 600;

  
}
.welcome{
  background-color: #F2F2FF!important;
  
}
.footer-class{
  background-color: #2F2A6B;
  color: white;
  height: 50px;
}
