
.book-container{
  background-color: #FFFFFF;
  
}
.nav-color{
  background-color: #121B20;
  font-weight: 400;

  
}
.welcome{
  background-color: #F1F0EE!important;
  
}
.footer-class{
  background-color: #191a19;
  color: white;
  height: 50px;
}
